{{>menu_second}}

<div class="main" id="create_account-page">

    <h1 class="subtitle">Create an account</h1>
    <div class="account-exists">
        <span class="published-by">Already have an account?</span>
        <a href="/auth/login" class="published-by-link grey ">Log in</a>
    </div>


    <form method="post" action="/auth/create-account" class="form" enctype="multipart/form-data">

        <a href="" id="imagePicker">
            <img src="/images/icons/user-icon.png" alt="user-icon">
        </a>
        <label for="textImage" id="choose-Image-hidden"></label>
        <label for="textImage" id="choose-Image-Label">Upload image</label>
        <input class="input" type="file" id="textImage" name="profilePic">

        <input class="input" type="email" id="mail" name="mail" placeholder="What is your email *" required>
        <p id="info"></p>
        <input class="input" type="password" id="password1" name="password" placeholder="Choose a password *" required>

        <input class="input" type="password" id="password2" name="password" placeholder="Confirm password *" required>

        <input class="input" type="text" id="name" name="name" placeholder="What is your name? *">

        <input class="input" type="text" id="pseudo" name="pseudo" placeholder="What is your usename? *" required>

        <textarea name="description" id="story" cols="30" rows="10" placeholder="Tell us about you!" class="input" ></textarea>

        <span class="span-edit grey">* mandatory fields</span>

        {{> flash_message}}

        <button class="button--primary">Create my account</button>
    </form>

</div>