{{>menu}}
<div class="accountbody">
<h1 class="subtitle">Create an account</h1>
<img src="" alt="">

<div class="accountform">
<form method="post" action="/auth/create-account" class="form">

    <label for="mail">email*</label>
    <input class="input" type="mail" id="mail" name="mail" value="test@email.com">
    <label for="password">password*</label>
    <input class="input" type="password" id="password" name="password" value="12345">

    <label for="name">What is your name?</label>
    <input class="input" type="text" id="name" name="name" value="test name">
    <label for="pseudo">What is your pseudo?*</label>
    <input class="input" type="text" id="pseudo" name="pseudo" value="pseudo">

    <label for="description">What is your story?</label>
    <input class="input" type="text" id="description" name="description" value="story">
    <button class="create-account_btn">Create an account</button>
</form>
</div>
</div>

<p>
    Already got an account ? <a href="/auth/login">signin</a>
</p>