{{>menu}}

<div class="main" id="create_account-page">

    <h1 class="subtitle">Create an account</h1>

    <form method="post" action="/auth/create-account" class="form">

        <a href="" id="imagePicker">
            <img src="/images/icons/user-icon.png" alt="user-icon">
        </a>
        <label for="textImage"></label>
        <input class="input" type="text" id="textImage" name="image">

        <input class="input" type="email" id="email" name="email" placeholder="What is your email *">
        <input class="input" type="password" id="password" name="password" placeholder="Choose a password *">

        <input class="input" type="text" id="name" name="name" placeholder="What is your name?">
        <input class="input" type="text" id="usename" name="usename" placeholder="What is your usename? *">

        <input class="input" type="text" id="story" name="story" placeholder="Tell us about you!">

        <span class="span-edit grey">* mandatory fields</span>

        <button class="button--primary">Create my account</button>
    </form>

</div>