{{>menu_second}}

<div class="main" id="login_page">
    <h1 class="title">Log in</h1>


    <form method="post" action="/auth/login" class="form">

        <input class="input" type="mail" id="mail" name="mail" placeholder="Email" required>
        <input class="input" type="password" id="password" name="password" placeholder="Enter password" required>

        <button class="button--primary">Let's go!</button>
    </form>

    {{> flash_message}}

    <div class="no_account_yet">
        <span class="suggestion-modal"> Don't have an account yet? </span>
        <a href="/auth/create-account" class="links"> Create an account</a>
    </div>
</div>