<h1>Create an account</h1>
<img src="" alt="">

<form method="post" action="/auth/signup" class="form">
    {{> flashMessage }}

    <label for="mail">email*</label>
    <input class="input" type="mail" id="mail" name="mail" value="test@email.com">
    <label for="password">password*</label>
    <input class="input" type="password" id="password" name="password" value="12345">

    <label for="name">What is your name?</label>
    <input class="input" type="text" id="name" name="name" value="test name">
    <label for="pseudo">What is your pseudo?*</label>
    <input class="input" type="text" id="pseudo" name="pseudo" value="pseudo">

    <label for="story">What is your story?</label>
    <input class="input" type="text" id="story" name="story" value="story">
    <button class="signup_btn">Create an account</button>
</form>
<p>
    Already got an account ? <a href="/auth/signin">signin</a>
</p>