<h1>LOG IN</h1>

<form method="post" action="/auth/signin" class="form">
    <label for="mail">mail</label>
    <input class="input" type="mail" id="mail" name="mail" value="test@email.com">
    <label for="password">password</label>
    <input class="input" type="password" id="password" name="password" value="12345">
    <button class="btn">signin</button>
</form>

<span class="suggestion-modal"> Don't have an account yet ? </span>
<a href="/auth/signup" class="links"> Create an account</a>