{{>menu_second}}


<div class="main" id="update_account-page">

    <h1 class="subtitle">Update your account</h1>

    <form method="post" action="/users/{{foundUser.pseudo}}/edit" class="form">

        <a href="" id="imagePicker">
            <img src="/images/icons/user-icon.png" alt="user-icon">
        </a>
        <label for="textImage"></label>
        <input class="input" type="file" id="textImage" name="profilePic">

        <input class="input" type="email" id="mail" name="mail" placeholder="Update your email *" required="true" value="{{foundUser.mail}}">

        <input class="input" type="password" id="password" name="password" placeholder="New password *" required="true">

        <input class="input" type="password" id="password-confirm" name="password-confirm" placeholder="Confirm new password *" required="true">

        <input placeholder="Name" class="input" name="name" type="text" value="{{foundUser.name}}">

        <textarea name="description" id="story" cols="30" rows="10" placeholder="Tell us about you!" >{{foundUser.description}}</textarea>

        <span class="span-edit grey">* mandatory fields</span>

        {{> flash_message}}

        <button class="button--primary">Update my account</button>
    </form>


</div>