<h1>Quote Card</h1>

<div class="quote_header">
    <div class="quote_header__infos">
        <div class="quote_header__infos--text">
            <span class="published-by">Published by:</span> <a href="#" class="published-link">USER NAME</span>
            <span class="publication-date">on DATE</span>
        </div>
        <div class="quote_header__infos--kebab">
            <div class="kebab-dot"></div>
            <div class="kebab-dot"></div>
            <div class="kebab-dot"></div>
        </div>
    </div>
    <div class="quote_header__hashtags">
        <a href="#" class="hashtags">#FUN</a>
        <a href="#" class="hashtags">#IRONHACK</a>
        <a href="#" class="hashtags">#DEV</a>
        <a href="#" class="hashtags">#LOREMIPSUM</a>
    </div>
    <div class="line-separation"></div>
</div>