{{>menu}}

<div class="main">
    <div id="quote-create">
        <p class="instructions grey">How to create an Awesome Quote?</p>

        <div class="ajax_form">
            <div class="ajax_input">
                <h2 class="body-bold">Name</h2>
                <input type="text" name="name" class="ajax_input--input">
            </div>
            <div class="ajax_input">
                <h2 class="body-bold">Message</h2>
                <input type="text" name="message" class="ajax_input--input">
            </div>
        </div>

        <div class="button-container">
            <div class="button--add_person">Add a person</div>
            <div class="button--primary">Publish</div>
        </div>
    </div>
</div>