
    <div class="user_profil">
        <h1 class="title">My account</h1>

        <div class="user_main_infos">
            <img src="/images/icons/user-icon.png" alt="User icon" class="user-icon">
            <span class="body-bold">My name</span>
            <span class="suggestion-modal">My username</span>
        </div>

        <div class="user_stats-container">
            <div class="user_stats user_stats--liked">
                <span class="body-bold">1234</span>
                <span class="suggestion-modal grey">Liked quotes</span>
            </div>
            <div class="user_stats user_stats--saved">
                <span class="body-bold">875</span>
                <span class="suggestion-modal grey">Saved quotes</span>
            </div>
            <div class="user_stats user_stats--followers">
                <span class="body-bold">456</span>
                <span class="suggestion-modal grey">Followers</span>
            </div>
            <div class="user_stats user_stats--followers">
                <span class="body-bold">12</span>
                <span class="suggestion-modal grey">Following</span>
            </div>
        </div>

        <div class="user_about">
            <p class="body-bold">About:</p>
            <p class="body grey">Lorem ipsum dolor sit amet</p>
        </div>

    <div class="line-separation"></div>
    </div>