{{>menu}}

<div class="main" id="about_page">

    <h1 class="subtitle">About</h1>
    <p class="body">
        Awesome Quote is a mobile first web app where your can browse or share your favorite punchlines and quote.
        <br>
        <br>
        Created by Paul Priveron, Marc Ramos and Joey Hang, Awesome Quotes was created during the second Ironhack
        module,
        in one week.
    </p>
    <p class="body-bold">On the V1 and as a visitor, you are able to:</p>
    <ul class="body">
        <li>Browse the quotes published by the users;</li>
        <li>See the quote publisher's profile;</li>
        <li>Filter the quotes by published date (most recent or oldest), likes or favorite amount</li>
    </ul>

    <p class="body-bold">As a logged user, can additionaly:</p>
    <ul class="body">
        <li>Publish a quote;</li>
        <li>Update your profile;</li>
        <li>Like, or save a quote as favorite.</li>
    </ul>

    <h2 class="body-bold">Upcoming versions</h2>
    <p class="body">In addition of an improved user experience, the next versions of Awesome Quotes will allow you to:
    </p>
    <ul class="body">
        <li>Share a quote;</li>
        <li>Auto suggest a person name when creating a quote;</li>
    </ul>

    <p class="body sincere">Sincerely</p>
    <p class="body">The Awesome Quotes team</p>



</div>