{{>menu}}

<div class="filterbody">
    
<h1 class="subtitle">Filter the quotes</h1>

<div class="filterbtn">
<span class="filtertype">Most recent</span>
<span class="filtertype">Oldest</span>
<span class="filtertype">Most liked</span>
<span class="filtertype">Most saved</span>

</div>
</div>