{{>menu}}

<div class="main" id="filter_page">

    <h1 class="subtitle">Filter the quotes</h1>

    <div class="filter_buttons-container">
        <span class="button-filter button-filter--unchecked"><a href="/home">Recent</span></a>
        <span class="button-filter button-filter--unchecked"><a href="/filter/Oldest">Oldest</span></a>
        <span class="button-filter button-filter--unchecked"><a href="/filter/most-liked">Liked</span></a>
        <span class="button-filter button-filter--unchecked"><a href="/filter/most-saved">Saved</span></a>    
    </div>

</div>