<div class="main" id="index_page">
    <div href="http:/home" class="index_container">
    
        <a href="/home" >
            <img src="/images/logo/awesome-quote-logo.png" alt="Awesome Quotes logo" class="logo">
            <h1 class="body">The best punchlines and conversations on the Web
                <h1 />
        </a>
    </div>
</div>