<div class="main">

    {{>menu}}

    {{>user_profil}}

    <div class="user_profil_infos_container">
        <div class="user_profil_infos_container-infos">
            <h3 class="body-bold">My infos</h3>
            <div class="user_profil_infos_container-infos--item">
                <span class="social-links grey">Email</span>
                <span class="published-by grey">john@doe@gmail.com</span>
            </div>
            <div class="user_profil_infos_container-infos--item">
                <span class="social-links grey">ID</span>
                <span class="published-by grey">AHD56JDJM226DPMHF862HDTN</span>
            </div>

            <a href="/user/edit" class="published-by-link grey">Edit my information</a>
        </div>

        <div class="user_profil_infos_container-danger">
            <h3 class="body-bold">Danger zone</h3>
            <a href="#" class="published-by-link grey">Delete my account</a>
        </div>
    </div>

</div>