/* -------------------------------------------------------------------------- */
/*                                //LOG IN PAGE                               */
/* -------------------------------------------------------------------------- */

#login_page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .no_account_yet {
        margin-top: 10.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        a{
            margin-top: 1.2rem;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                              // CREATE ACCOUNT                             */
/* -------------------------------------------------------------------------- */

#create_account-page{
    padding-bottom: 7rem;
    h1{
        margin: 1.8rem auto;
        width: 100%;
        text-align: center;
    }

    #imagePicker{
        position: relative;
    }

    #textImage{
        position: absolute;
        width:0;
        height: 0;
    }

    .span-edit{
        align-self: flex-start;
    }

    .button--primary{
        margin-top: 4.2rem;
    }

}