.accountbody {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    margin-top: 10rem;
}

.input {
    margin: 1rem 2rem;
    line-height: 0.2rem;
}

.accountform {
    display: flex;
}

.creat-account_btn {
    padding: 0.5rem;
}

.accountfoot {
    text-align: center;
    margin: 2rem auto;
}