.flash-msg {
  padding: 10px 20px;
}

.flash-msg.error {
  /* color: #802b31;
  background: #f8d6da; */
  box-shadow: -0.3px 0.1px 2.4px 0.1px #802b31;
}

.flash-msg.success {
  color: #216136;
  background: #d4edda;
  box-shadow: -0.3px 0.1px 2.4px 0.1px #216136;
}

.flash-msg.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
