/* ----------------------------- //for the menu ----------------------------- */
.menu_container {
  padding: 0 clamp(1.6rem, 10vw, 1.8rem);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999999 !important;
}

.menu_container .menu_container__nav {
  background-color: var(--background);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
  position: relative;
  z-index: 9999;
}

.menu_container .menu_container__nav .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  padding: 1.2rem 1.2rem 1.2rem 0;
}

.menu_container .menu_container__nav .burger .burger__line {
  width: 3rem;
  height: 1px;
  background-color: var(--main);
}

.menu_container .menu_container__nav .nav-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 160px;
}

.menu_container .menu_container__nav .nav-logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.menu_container .menu_container__nav .profil-pic {
  max-width: 25px;
  border-radius: 50%;
}

.menu_container .menu {
  padding: 3.2rem clamp(1.6rem, 10vw, 1.8rem);
  background-color: var(--background);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 7rem;
  left: -100%;
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
  z-index: 1000;
}

.menu_container .menu a {
  text-decoration: none;
  margin-bottom: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_container .menu a img {
  width: 2.5rem;
  margin-right: .4rem;
}

.menu_container .menu .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.4rem;
}

.menu_container .menu-reveal {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

.menu_container_second {
  position: fixed;
  z-index: 99999999;
  width: 100%;
  top: 0;
  left: 0;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background);
}

.menu_container_second a {
  margin: 0;
  padding: 0;
}

.menu_container_second a img {
  width: 16rem;
}
/*# sourceMappingURL=menu.css.map */