#quote-create {
    width: 100%;

    .instructions {
        margin-top: 1.2rem;
        cursor: pointer;
    }

    input,
    textarea {
        width: 100%;
        min-height: 3.2rem;
        background-color: var(--background);
        border-width: .5px;
        border-radius: .4rem;
        border-color: var(--main);
        margin-bottom: 1.6rem;
        padding: 1rem;
        font-family: "Archia";
        font-size: clamp(1.6rem, 10vw, 1.8rem);
        overflow: hidden;
    }

    .ajax_input {
        width: 100%;
    }

    .ajax_form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 3.2rem;
        width: 100%;


        .ajax_form_message_container {
            width: 100%;
            padding: 1.2rem;
            border: .5px solid var(--main);
        }

        .appearMessage {
            animation: messageAppear 300ms ease-in-out;
        }

        @keyframes messageAppear {
            0% {
                opacity: 0;
                transform: translateY(10px);
            }

            100% {
                opacity: 1;
                transform: translate(0)
            }
        }
    }

    #ajax-input-hashtag-container {
        margin-top: .8rem;
    }

    .button-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        .button--add_person {
            margin-left: auto;
        }

        .button--primary {
            margin: 3.2rem 0 7rem 0;
        }
    }


}