<h1>LOG IN</h1>

<form method="post" action="/login/signin" class="form">
    {{> flashMessage }}

    <label for="email">email</label>
    <input class="input" type="email" id="email" name="email" value="test@email.com">
    <label for="password">password</label>
    <input class="input" type="password" id="password" name="password" value="12345">
    <button class="btn">signin</button>
</form>

<p>
    Don't have an account yet ? <a href="/auth/signup">Create an account</a>
</p>